@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  display: flex;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.section-title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 140px;
  margin-right: 44px;
}

.header-logo-image {
  vertical-align: bottom;
}

.navigation {
  display: flex;
}

.menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-list {
  width: 450px;
}

.navigation-item {
  display: flex ;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.menu-user {
  max-width: 300px;
  margin-left: auto;
}

.menu-user-item {
  display: flex;
}

.menu-user-item-search {

}

.menu-user-item-favorites {
  margin-right: 20px;
}

.menu-user-item-booking {

}

.menu-user-button {
  padding: 23px 13px;
}

.menu-user-button-image {

}

.menu-user-button-booking {
  padding: 8px 34px;
  color: #FFFFFF;
  background: #756157;
}

.hero {
  color: #000000;
  text-align: center;
  background:
    url("../images/hero/divider.svg") bottom,
    url("../images/hero/mountains.jpg");
  background-color: #493e3e;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-logo {

}

.preview {
  padding: 69px 274px 90px 274px;
}

.preview-title {
  margin-bottom: 25px;
  text-align: center;
}

.preview-description {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.advantages {

}

.advantages-list {
  margin: 0;
  padding-left: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {


}

.advantages-item-bg {
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px 121px;
}

.advantages-item-bg-image {
  color: #FFFFFF;
  width: 100%;
  padding-top: 92px;
  padding-bottom: 111px;
}

.advantages-item-bg-image-hotel {
  padding-right: 885px;
  padding-left: 85px;
  background: url("../images/advantages/hotel.jpg") no-repeat right;
  background-color: #82B3D3;
}

.advantages-item-bg-image-bridge {
  padding-left: 885px;
  padding-right: 85px;
  background: url("../images/advantages/devil-bridge.jpg") no-repeat left;
  background-color: #82B3D3;
}

.advantages-item-bg-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-bg-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.advantages-item-title-with-white-line {
  background: url("../images/advantages/border-line-white.svg") no-repeat bottom;
}

.advantages-item-title-with-gray-line {
  background: url("../images/advantages/border-line-gray.svg") no-repeat bottom;
}

.advantages-item-description {
  margin: 0;
}

.services-list {

}

.services-item {
  padding-top: 80px;
  padding-bottom: 81px;
}

.services-item-title {
  padding-top: 102px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: top;
}

.services-item-title-img-home {
  background-image: url("../images/advantages/icon-home.svg");
}

.services-item-title-img-food {
  background-image: url("../images/advantages/icon-food.svg");
}

.services-item-title-img-gift {
  background-image: url("../images/advantages/icon-gift.svg");
}

.section-container {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {

}

.search-title {

}

.search-text {
  margin-top: 0;
  margin-bottom: 54px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  background-color: #756157;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 8px 50px;
}

.subscribe {

}

.subscribe-main {
  color: #FFFFFF;
  background-image: url("../images/subscribe/devil-bridge-blurry.jpg");
  background-color: LightSeaGreen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.subscribe-title {

}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-field {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.subscribe-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  padding: 45px 0 35px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-social-item {
  display: flex;

}

.footer-social-link {

}

.footer-social-link-vk {
  padding: 9px 11px;
}

.footer-social-link-telegram {
  padding: 9px 14px;
}

.footer-social-link-youtube {
  padding: 9px 12px;
}

.footer-social-link-logo {

}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}


/* Каталог */


.catalog-filter {
  color: #FFFFFF;
  background: url("../images/catalog/mountains-blurry.jpg") no-repeat;
  background-size: cover;
  background-color: LightSeaGreen;
  padding: 35px 0 70px;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog-breadcrumbs {
  margin-top: 0;
  margin-bottom: 40px;
}

.catalog-breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-column-1 {
  width: 371px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}


.catalog-filter-control {
  line-height: 23px;
}

.catalog-filter-control-input {
  margin: 0;
  margin-right: 16px;
}

.catalog-filter-column-2 {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-filter-price {
  display: flex;
  flex-direction: column;
}

.catalog-filter-price-input {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  color: #000000;
}

.catalog-filter-price-input::placeholder {
  text-align: right;
  line-height: 24px;
}

.button-filter {
  color: #FFFFFF;
  padding: 8px 50px;
}

.button-submit-filter {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.button-reset-filter {
  background-color: transparent;
}

.hotel-sort {
  padding-top: 50px;
  margin-bottom: 40px;
}

.hotel-sort-container {
  display: flex;
  align-items: center;
}

.hotel-sort-text {
  margin-bottom: 0;
  font-weight: 700;
}

.select-control {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
}

.hotel-variants {
  padding-bottom: 60px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-card {
  width: 340px;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  margin: 0;
  margin-right: 15px;
  color: #333333;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card:nth-child(n + 4) {
  margin-top: 20px;
}

.hotel-card-link {

}

.hotel-card-image {
  vertical-align: bottom;
}


.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 16px 0 16px;
}

.hotel-card-row {
  margin-top: 0;
  margin-bottom: 16px;
  display: flex;
}

.hotel-card-info {

}

.hotel-card-type {

}

.hotel-card-price {
  margin-left: auto;
}

.hotel-card-buttons {

}

.hotel-card-button-by {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 26px;
}

.hotel-card-button-favorites {
  color: #FFFFFF;
  background: #82B3D3;
  padding: 8px 20px;
  margin-left: auto;
}

.hotel-card-button-active {
  padding: 8px 18px;
  background-color: #7DB54F;;
}

.hotel-card-rating {
  margin: 0;
}

.hotel-card-rating-button {
  font-weight: 400;
  background-color: #F2F2F2;
  display: block;
  padding: 9px 22px 8px;
  margin-left: auto;
}

.pagination {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
  display: flex;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 17px 24px;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-further {
  color: #000000;
  background-color: transparent;
}
